<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <!-- <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup> -->
  <appSettings>
    <add key="db_celsius" value="URI=file:/package/db/CelsiusV3nov17_dataArise.db"/>
  </appSettings>    
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
