<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="db_master_input" value="URI=file:db/MasterInput.db"/>
    <add key="db_models_dictionnary" value="URI=file:db/ModelsDictionaryArise.db"/>
    <add key="db_celsius" value="URI=file:db/CelsiusV3nov17_dataArise.db"/>
  </appSettings>
</configuration>
